body{
    background-color: rgb(255, 0, 0);
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
}
/*TOP SEARCH BAR*/
header{
    display: flex;
    background-color:white;
    height: 85px; 
    align-items: center;
    position: fixed;
    width: 100%;
    box-shadow: 0px 3px 10px rgb(168, 168, 168);
    z-index: 1;
    top:0;
}
nav{
    display: flex;
    margin-left: 675px;
    gap: 30px;
    align-items: center;
    height: 65px;
}
a{
    text-decoration: none;
}
.browser, #browserViolet{
    font-size: 16px;
    border-radius: 60px;
    height: 30px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;    
/**************************************************************************************************
    text-align: center;          why this one doesn't work
**************************************************************************************************/
}
.browser:hover{
    border-style: solid;
    border-width: 0.01em;
    border-color: #3c1270;
    box-shadow: 0px 0px 15px 1px #c99dffee;
}
#browserViolet{
    background-color: #8d43e8;
    color: white;
    border-radius: 60px;
}
#browserViolet:hover{
    background-color:#a053ff;;
    border-style: none;
}

/*INTRODUCTION*/
#container-presentation{
    background-color: rgb(199, 199, 199);
    padding-top: 1px;
    height:650px;
}
.presentation{
    background-color:  rgb(199, 199, 199);
    width: 600px;
    height: 250px;
    margin-left: 50px;
    margin-top: 320px;    
}
.text-presentation, h1, .button-presentation{
    margin-top:-70px;
    display: flex;
    padding-top: 4px;
    width: 900px;
    height: 90px;
    align-items: center;
} 
img{
    background-color: rgb(199, 199, 199)/*GRIS*/;
    margin-left: 750px;
    margin-top: -320px;
    font-size: 30px;
    width: 500px;
    height: 400px;
}
.button-presentation{
    background-color:rgb(161, 94, 224);
    width: 9em;
    border-radius: 60px;
    height: 40px;
    padding-left: 4px;
    margin-left: 3px;
    margin-top: 38px;
    color: white;
}

/*knowdlege section -middle-*/
#knowledge{
    background-color: white;
    padding:100px;
    height: 900px;
    text-align: center;         /*why text align it does work in this situation?*/
}
.knowledge-cards{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 800px;
    margin-left: 125px;
    padding-top: 50px;
}
#knowledge-text{
    background-color:white;
    display: flex;
    justify-content: center;
    width: 500px;
    margin-left: 150px;
    margin-top: -1em;
}
.knowledge-cards, .linea1 .linea2{
    font-size: 20px;
}
.knowledge-first-line{
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}
.knowledge-line-one{
    background-color:lightgray;
    width: 242px;
    height: 242px;
    border-radius: 5%;
}
.second-knowledge-line{
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
}
.knowledge-line-two{
    background-color: lightgray;
    width: 242px;
    height: 242px;
    border-radius: 5%;
}
/*QUOTE SECCTION*/
.phrase{
    background-color:rgb(199, 199, 199);
    margin-top: 100px;
    width:1263px;
    margin-left: -100px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
blockquote{
    background-color: rgb(199, 199, 199);
    width: 1200px;
    color: black;
}

/*PROYECTS SECCTION*/

#proyect{
    background-color:white;
    width: 1150px;
    margin-left: -45px;
    padding-top: 75px;
    height: 45em;
}
#proyect-text{
    background-color: rgb(232, 101, 255);
    width: 500px;
    margin-left: 310px;
    margin-top:-20px;
}
#proyect, .proyect-line-one .proyect-line-two .proyect-line-three{
    font-size: 20px;
}
.proyect-first-line{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}
.proyect-line-one{
    background-color: rgba(193, 151, 225, 0.785);
    width: 350px;
    height: 350px;
    border-radius: 5%;
}
.proyect-second-line{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}
.proyect-line-two{
    background-color: rgba(193, 151, 225, 0.785);
    width: 350px;
    height: 350px;
    border-radius: 5%;
}
.proyect-third-line{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}
.proyect-line-three{
    background-color: rgba(193, 151, 225, 0.785);
    width: 350px;
    height: 350px;
    border-radius: 5%;
    margin-left: -770px;
}

/*CONTACT -INFO PART*/
#contact-father{
    background-image: linear-gradient(to right top, #c1a1f8, #cbb4fd, #e0d6ff, #e0d6ff, #eafdfd);
    width:1263px;
    margin-top: 500px;
    margin-left: -100px;
    height: 820px;
    position: relative
}
.contact{
    background-color: rgb(151, 69, 69);
    width:1100px;
    height: 720px;
    margin-left: 85px;
    top: 50px;
    position: absolute;
    border-radius: 3%;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(222, 222, 222);
}
.info{
    background-color: aqua;
    width: 50%;
    height: 600px;
    border-radius: 3%;
    margin-left: 30px;
    text-align: left;
}
#contact-text{
    background-color: white;
    width: 400px;
    text-align: left;
    margin-top: -15px;
}
ul{
    padding-left: 6em;
    padding-top:5em;
    line-height: 30px;
    padding-top: 9px;
}
li{
    font-size: 20px;
}
.link{
    background-color: white;
    display: flex;
    align-items: flex-start;
    width: 5em;
    color: black;
}

/*CONTACT - FORM PART*/
.formulary{
    background-color:pink;
    width: 50%;
    margin-top:-640px;
    margin-left: 530px;
    border-radius: 3%;
    text-align: left;
    height: 650px;
    
}
form, .continent{
    font-size: 20px;
}
.last-name{
    width: 100px;
    margin-left: 250px;
    margin-top: -95px;
    width: 300px;
}
.continent{
    width: 100px;
    margin-left: 250px;
    margin-top: -93px;
}
#send{
    background-color: rebeccapurple;
    margin-top: 30px;
    width: 100px;
    height: 40px;
    border-radius: 60px;
    border-width: 0;
    color: white;
}
#continent-opptions{
    height: 30px;
    width: 200px;
    border-radius: 60px;
    outline: none;
}
input{
    height: 30px;
    width: 200px;
    border-radius: 60px;
    border-width: 0;
}
input:focus{
    border-style: solid;
    border-color: #3c1270;
    box-shadow: 0px 0px 15px 1px #c99dffee;
    outline:none;
}
#continent-opptions:focus{
    border-style: solid;
    border-color: #3c1270;
    box-shadow: 0px 0px 15px 1px #c99dffee;
}
textarea:focus{
    border-style: solid;
    border-color: #3c1270;
    box-shadow: 0px 0px 15px 1px #c99dffee;
    outline:none;
}
textarea{
    border-width: 0px;
    border-radius: 5px;
}

/*nav bar below*/
footer{
    background-color: #8827ff;
    width: 1263px;
    height: 300px;
    margin-left: -100px;
    position: relative;
    margin-top: -16px;
}
.ending{
    width:400px;
    position: absolute;
    margin-top: 70px;
    margin-left: 430px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    text-transform: uppercase;
}
footer .foooter-text{
    position:absolute;
    margin-top: 250px;
    font-size: 15px;
    margin-left: 500px;
    color: white;
}