body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
}

/*TOP SEARCH BAR*/
header{
    display: flex;
    background-color:white;
    height: 85px; 
    align-items: center;
    position: fixed;
    width: 100%;
    box-shadow: 0px 3px 10px rgb(168, 168, 168);
    z-index: 1;
    top:0;
}
nav{
    display: flex;
    margin-left: 675px;
    gap: 30px;
    align-items: center;
    height: 65px;
}

a{
    text-decoration: none;
    color: black;
}
nav a{
    display: flex;
    align-items: center;
}
.browser, #browserViolet{
    font-size: 16px;
    border-radius: 60px;
    height: 30px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;    
/**************************************************************************************************
    text-align: center;          why this one doesn't work
**************************************************************************************************/
}
.browser:hover{
    border-style: solid;
    border-width: 0.01em;
    border-color:#6246ea;
    box-shadow: 0px 0px 15px 1px #4f36ca;
}
#browserViolet{
    background-color:#6246ea;
    color: white;
    border-radius: 60px;
}
#browserViolet:hover{
    background-color:#7157f3;
    border-style: none;
}
@media(max-width: 400px){
    header, nav{
        display: none;
    }
}
/*INTRODUCTION*/
#container-presentation{
    background-color: white;
    padding-top: 1px;
    height:650px;
}
.presentation{
    width: 600px;
    height: 250px;
    margin-left: 50px;
    margin-top: 320px;    
}
.text-presentation, h1, .button-presentation{
    margin-top:-70px;
    display: flex;
    padding-top: 4px;
    width: 900px;
    height: 80px;
    align-items: center;
} 
img{
    margin-left: 710px;
    margin-top: -320px;
    font-size: 30px;
    width: 500px;
    height: 400px;
}
.button-presentation{
    background-color: #6246ea;
    width: 265px;
    height: 50px;
    margin-top: -40px;
    padding-left: 15px;
    color: black;
    border-radius: 60px;
}
.button-presentation:hover{
    background-color:#b172ff;
    border-style: none;
}


@media(max-width: 400px){
    #container-presentation{
        width:100%;
        flex-direction: column;
    }
    .presentation{
        width: 60%;
        height: 50%;
        margin-top: 25%;
        align-items: center;
        text-align: center;
        margin-left: 13%;
    }
    .text-presentation{
        width: 100%;
        height: 50%;
        justify-content: center;
    }
    h1{
        width: 142.5%;
        margin-left:-22%;
        padding-top: 10%;
        padding-bottom: 10%;
        align-items: center;
        align-content: center;
        
    }
    .button-presentation{
        margin-left:-10%;
    }
    aside{
        display: none;
    }
}

/*KNOWLEDGE SECTION*/
#knowledge{
    background-color: rgb(245, 245, 245);
    padding:100px;
    height: 900px;
    text-align: center;         /*why text align it does work in this situation?*/
}
.knowledge-cards{
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 800px;
    margin-left: 125px;
    padding-top: 50px;
}
.knowledge-cards i{
    font-size: 80px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    line-height: 120px;
    color: black;
}
#knowledge-text{
    display: flex;
    justify-content: center;
    width: 500px;
    margin-left: 150px;
    margin-top: -1em;
}
.knowledge-cards, .knowledge-line-one .knowledge-line-two{
    font-size: 20px;
}
.knowledge-first-line{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}
.knowledge-line-one{
    background-color:white;
    width: 242px;
    height: 242px;
    border-radius: 5%;
    color:black;
}
.second-knowledge-line{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
}
.knowledge-line-two{
    background-color: white;
    width: 242px;
    height: 242px;
    border-radius: 5%;
    color: black;
}
.knowledge-line-one:hover{
    border-style: solid;
    border-width: 1px;
    border-color: #b172ff;
}
.knowledge-line-two:hover{
    border-style: solid;
    border-width: 1px;
    border-color: #b172ff;
}
@media (max-width:400px){
    #knowledge{
        width:100%;
        height: max-content;
        flex-direction: column;
    }
    .knowledge-cards{
        width: 60%;
        height: fit-content;
        margin-top: 25%;
        align-items:center; 
        margin-left:-14.5%;
    }
    #knowledge-text{
        width: 100%;
        margin-left:0%;
    }
    .knowledge-first-line{
        flex-direction: column;
    }
    .knowledge-line-one{
        margin-bottom: 5%;
    }
    .second-knowledge-line{
        flex-direction: column;
        margin-top: -5%;
    }
    .knowledge-line-two{
        margin-top: 5%;
    }
}


/*QUOTE SECCTION*/
.fa-quote-right{
    font-size: 90px;
}
.phrase{
    background-color:#b172ff;
    margin-top: 100px;
    width:1263px;
    margin-left: -100px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}
blockquote{
    width: 1200px;
    color: black;
}
@media (max-width:400px){
    .phrase{
        background-color: #0069ff;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        text-align: center;
        justify-content: center;
    }
    blockquote{
        flex-direction: column;
        background-color: red;
        width: 70%;
        margin-left: 13%;
    }

}
/*PROYECTS SECCTION*/
#proyect{
    background-color:white;
    width: 1150px;
    margin-left: -45px;
    padding-top: 75px;
    height: 45em;
}
#proyect-text{
    width: 500px;
    margin-left: 310px;
    margin-top:-20px;
}
#proyect, .proyect-line-one .proyect-line-two .proyect-line-three{
    font-size: 20px;
}
.proyect-first-line{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}
.proyect-line-one{
    width: 350px;
    height: 350px;
    border-radius: 5%;
    border-style: solid;
    border-width: 1px;
    border-color:#d1d1e9;
}
.proyect-line-one:hover{
    border-style: solid;
    border-width: 1px;
    border-color: #b172ff;
}
.proyect-line-one .portfolio-pic{
    margin-left: -4px;
    max-width: 330px;
    max-height: 300px;
    margin-top: 3px;
}
.proyect-line-one .generator-pic{
    margin-left: -4px;
    max-width: 300px;
    max-height: 300px;
    margin-top: 3px;
}
.proyect-line-one .match-pic{
    margin-left: -4px;
    max-width: 300px;
    max-height: 300px;
    margin-top: 3px;
}
.proyect-second-line{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}
.proyect-line-two{
    width: 350px;
    height: 350px;
    border-radius: 5%;
    border-width: 1px;
    border-style: solid;
    border-color:#d1d1e9;
}
.proyect-line-two:hover{
    border-style: solid;
    border-width: 1px;
    border-color: #b172ff;
}
.proyect-line-two .expenses-pic{
    margin-left: -4px;
    max-width: 300px;
    max-height: 300px;
    margin-top: 3px;
}
.proyect-line-two .admin-pic{
    margin-left: -4px;
    max-width: 300px;
    max-height: 300px;
    margin-top: 3px;
}
.proyect-line-two .app{
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    max-width: 290px;
    max-height: 290px;
    margin-top: 3px;
}
.proyect-third-line{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}
.proyect-line-three{
    width: 350px;
    height: 350px;
    border-radius: 5%;
    margin-left: -770px;
    border-width: 1px;
    border-style: solid;
    border-color:  #d1d1e9;
}
.proyect-line-three:hover{
    border-style: solid;
    border-width: 1px;
    border-color: #b172ff;
}
.proyect-line-three .movie-pic{
    margin-left: -4px;
    max-width: 300px;
    max-height: 300px;
    margin-top: 3px;
}

/*CONTACT -INFO PART*/
#contact-father{
    background-image: linear-gradient(to right top, #d1d1e9, #b5b2ed, #9a93ef, #8173ef, #6a50eb);
    width:1263px;
    margin-top: 500px;
    margin-left: -100px;
    height: 820px;
    position: relative
}
.contact{
    background-color: white;
    width:1100px;
    height: 720px;
    margin-left: 85px;
    top: 50px;
    position: absolute;
    border-radius: 3%;
    border-style: solid;
    border-width:1px;
    border-color:rgb(216, 213, 213);
}
.info{
    width: 50%;
    height: 600px;
    border-radius: 3%;
    margin-left: 30px;
    text-align: left;
}
#contact-text{
    width: 400px;
    text-align: left;
    margin-top: -15px;
}
ul{
    padding-left: 6em;
    padding-top:5em;
    line-height: 30px;
    padding-top: 9px;
}
li{
    font-size: 20px;
    line-height: 10px;
}
.link{
    display: flex;
    align-items: flex-start;
    width: 5em;
    color: black;
}
.fa-instagram{
    color: #6246ea;
    margin-right: 20px;
    margin-left: -50px;
    font-size: 30px;
    padding: 5px;
    margin-top: 5px;
}
.fa-instagram:hover{
    border-style: solid;
    border-radius: 50%;
    color:white;
    background-image: linear-gradient(to right bottom, #265bff, #6559ff, #8a55fe, #a951fc, #c44df9, #e03ce0, #f32dc6, #ff26ad, #ff457c, #ff8547, #ffc500, #ffff01);
}
.fa-linkedin{
    color: #6246ea;
    margin-right: 20px;
    margin-left: -50px;
    font-size: 30px;
    padding: 5px;
    margin-top: 5px;
}
.fa-linkedin:hover{
    border-style: solid;
    border-radius: 50%;
    color: white;
    background-color:#216BFF;
}
.fa-github{
    color: #6246ea;
    margin-right: 20px;
    margin-left: -50px;
    font-size: 30px;
    padding: 5px;
    margin-top: 5px; 
}
.fa-github:hover{
    border-style: solid;
    border-radius: 50%;
    color: white;
    background-color:black;
}
.fa-envelope{
    color: #6246ea;
    margin-right: 20px;
    margin-left: -50px;
    font-size: 30px;
    padding: 5px;
    margin-top: 5px; 
}
.fa-envelope:hover{
    border-style: solid;
    border-radius: 50%;
    color: white;
    background-image: linear-gradient(to right top, #0004fd, #0039ff, #0053ff, #0068ff, #007bff, #007bff, #007bff, #007bff, #0069ff, #0054ff, #0039ff, #2100ff);
}

/*CONTACT - FORM PART*/
.formulary{
    width: 50%;
    margin-top:-640px;
    margin-left: 530px;
    border-radius: 3%;
    text-align: left;
    height: 650px;
    
}
form, .continent{
    font-size: 20px;
}
.last-name{
    width: 100px;
    margin-left: 250px;
    margin-top: -99px;
    width: 300px;
}
.continent{
    width: 120px;
    margin-left: 250px;
    margin-top: -100px;
}
#send{
    background-color: #6246ea;   
    margin-top: 25px;
    width: 100px;
    height: 40px;
    border-radius: 60px;
    border-width: 0;
    color: white;
}
#continent-opptions{
    height: 34px;
    width: 200px;
    border-radius: 60px;
}
input{
    height: 30px;
    width: 200px;
    border-radius: 60px;
    border-width: 1px;
    border-style: solid;

}
input:focus{
    border-style: solid;
    border-color: #3c1270;
    box-shadow: 0px 0px 15px 1px #c99dffee;
    outline:none;

}
#continent-opptions:focus{
    border-style: solid;
    border-color: #3c1270;
    box-shadow: 0px 0px 15px 1px #c99dffee;
    outline:none;

}
textarea:focus{
    border-style: solid;
    border-color: #3c1270;
    box-shadow: 0px 0px 15px 1px #c99dffee;
    outline:none;
}
textarea{
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
}

/*FOOTER*/
footer{
    background-color: #b172ff;
    width: 1263px;
    height: 300px;
    margin-left: -100px;
    position: relative;
    margin-top: -16px;
}
.ending{
    width:400px;
    position: absolute;
    margin-top: 70px;
    margin-left: 430px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    text-transform: uppercase;
}
.ending a{
    color: white;
}
.social-media{
    position: absolute;
    margin-top: 130px;
    width: 300px;
    height: 50px;
    margin-left: 490px;
    gap: 100px;
}
footer .foooter-text{
    position:absolute;
    margin-top: 250px;
    font-size: 15px;
    margin-left: 500px;
    color: white;
}