body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
}
/*TOP SEARCH BAR*/
header{
    display: flex;
    background-color:white;
    height: 85px; 
    align-items: center;
    position: fixed;
    width: 100%;
    box-shadow: 0px 3px 10px rgb(168, 168, 168);
    z-index: 1;
    top:0;
}
nav{
    display: flex;
    margin-left: 675px;
    gap: 30px;
    align-items: center;
    height: 65px;
    
}
a{
    text-decoration: none;
    color: black;
}
.browser, #browserViolet{
    font-size: 16px;
    border-radius: 60px;
    height: 30px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;    
/**************************************************************************************************
    text-align: center;          why this one doesn't work
**************************************************************************************************/
}
.browser:hover{
    border-style: solid;
    border-width: 0.01em;
    border-color: #3c1270;
    box-shadow: 0px 0px 15px 1px #c99dffee;
}
#browserViolet{
    background-color: #8d43e8;
    color: white;
    border-radius: 60px;
}
#browserViolet:hover{
    background-color:#a053ff;;
    border-style: none;
}

/*INTRODUCTION*/
#container-presentation{
    background-color: white;
    padding-top: 1px;
    height:650px;
}
.presentation{
    width: 600px;
    height: 250px;
    margin-left: 50px;
    margin-top: 320px;    
}
.text-presentation, h1, .button-presentation{
    margin-top:-70px;
    display: flex;
    padding-top: 4px;
    width: 900px;
    height: 90px;
    align-items: center;
} 
img{
    margin-left: 710px;
    margin-top: -320px;
    font-size: 30px;
    width: 500px;
    height: 400px;
}
.button-presentation{
    background-color: #8d43e8;
    width: 250px;
    height: 50px;
    margin-top: -40px;
    padding-left: 20px;
    color: white;
    border-radius: 60px;
}
.button-presentation:hover{
    background-color:#a053ff;;
    border-style: none;
}


/*knowdlege section -middle-*/
#knowledge{
    background-color: #d8ffff;
    padding:100px;
    height: 900px;
    text-align: center;         /*why text align it does work in this situation?*/
}
.knowledge-cards{
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 800px;
    margin-left: 125px;
    padding-top: 50px;
}
.knowledge-cards i{
    font-size: 80px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    line-height: 120px;
    color: black;
}
#knowledge-text{
    display: flex;
    justify-content: center;
    width: 500px;
    margin-left: 150px;
    margin-top: -1em;
}
.knowledge-cards, .linea1 .linea2{
    font-size: 20px;
}
.knowledge-first-line{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}
.knowledge-line-one{
    background-color:white;
    width: 242px;
    height: 242px;
    border-radius: 5%;
    color:black;
}
.second-knowledge-line{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
}
.knowledge-line-two{
    background-color: white;
    width: 242px;
    height: 242px;
    border-radius: 5%;
    color: black;
}
/*QUOTE SECCTION*/
.fa-quote-right{
    font-size: 90px;
}
.phrase{
    background-color:rgb(241, 241, 241);
    margin-top: 100px;
    width:1263px;
    margin-left: -100px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
blockquote{
    width: 1200px;
    color: black;
}

/*PROYECTS SECCTION*/

#proyect{
    background-color:white;
    width: 1150px;
    margin-left: -45px;
    padding-top: 75px;
    height: 45em;
}
#proyect-text{
    width: 500px;
    margin-left: 310px;
    margin-top:-20px;
}
#proyect, .proyect-line-one .proyect-line-two .proyect-line-three{
    font-size: 20px;
}
.proyect-first-line{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}
.proyect-line-one{
    width: 350px;
    height: 350px;
    border-radius: 5%;
    border-style: solid;
    border-width: 1px;
    border-color:  #66ecec;
}
.proyect-line-one .portfolio-pic{
    margin-left: -4px;
    max-width: 330px;
    max-height: 300px;
    margin-top: 3px;
}
.proyect-line-one .generator-pic{
    margin-left: -4px;
    max-width: 300px;
    max-height: 300px;
    margin-top: 3px;
}
.proyect-line-one .match-pic{
    margin-left: -4px;
    max-width: 300px;
    max-height: 300px;
    margin-top: 3px;
}
.proyect-second-line{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}
.proyect-line-two{
    width: 350px;
    height: 350px;
    border-radius: 5%;
    border-width: 1px;
    border-style: solid;
    border-color:  #66ecec;
}
.proyect-line-two .expenses-pic{
    margin-left: -4px;
    max-width: 300px;
    max-height: 300px;
    margin-top: 3px;
}
.proyect-line-two .admin-pic{
    margin-left: -4px;
    max-width: 300px;
    max-height: 300px;
    margin-top: 3px;
}
.proyect-line-two .app{
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    max-width: 290px;
    max-height: 290px;
    margin-top: 3px;
}
.proyect-third-line{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}
.proyect-line-three{
    width: 350px;
    height: 350px;
    border-radius: 5%;
    margin-left: -770px;
    border-width: 1px;
    border-style: solid;
    border-color:  #66ecec;
}
.proyect-line-three .movie-pic{
    margin-left: -4px;
    max-width: 300px;
    max-height: 300px;
    margin-top: 3px;
}

/*CONTACT -INFO PART*/
#contact-father{
    background-image: linear-gradient(to right top, #c1a1f8, #cbb4fd, #e0d6ff,  #dbffff, #eafdfd);
    width:1263px;
    margin-top: 500px;
    margin-left: -100px;
    height: 820px;
    position: relative
}
.contact{
    background-color: white;
    width:1100px;
    height: 720px;
    margin-left: 85px;
    top: 50px;
    position: absolute;
    border-radius: 3%;
    border-style: solid;
    border-width:1px;
    border-color:rgb(216, 213, 213);
}
.info{
    width: 50%;
    height: 600px;
    border-radius: 3%;
    margin-left: 30px;
    text-align: left;
}
#contact-text{
    width: 400px;
    text-align: left;
    margin-top: -15px;
}
ul{
    padding-left: 6em;
    padding-top:5em;
    line-height: 30px;
    padding-top: 9px;
}
li{
    font-size: 20px;
    line-height: 10px;
}
.link{
    display: flex;
    align-items: flex-start;
    width: 5em;
    color: black;
}
.fa-instagram{
    color: #66ecec;
    margin-right: 20px;
    margin-left: -50px;
    font-size: 30px;
    padding: 5px;
    margin-top: 5px;
}
.fa-instagram:hover{
    border-style: solid;
    border-radius: 50%;
    color: white;
    background-color:#8d43e8;
}
.fa-linkedin{
    color: #66ecec;
    margin-right: 20px;
    margin-left: -50px;
    font-size: 30px;
    padding: 5px;
    margin-top: 5px;
}
.fa-linkedin:hover{
    border-style: solid;
    border-radius: 50%;
    color: white;
    background-color:#8d43e8;
}
.fa-github{
    color: #66ecec;
    margin-right: 20px;
    margin-left: -50px;
    font-size: 30px;
    padding: 5px;
    margin-top: 5px; 
}
.fa-github:hover{
    border-style: solid;
    border-radius: 50%;
    color: white;
    background-color:#8d43e8;
}
.fa-envelope{
    color: #66ecec;
    margin-right: 20px;
    margin-left: -50px;
    font-size: 30px;
    padding: 5px;
    margin-top: 5px; 
}
.fa-envelope:hover{
    border-style: solid;
    border-radius: 50%;
    color: white;
    background-color:#8d43e8;
}

/*CONTACT - FORM PART*/
.formulary{
    width: 50%;
    margin-top:-640px;
    margin-left: 530px;
    border-radius: 3%;
    text-align: left;
    height: 650px;
    
}
form, .continent{
    font-size: 20px;
}
.last-name{
    width: 100px;
    margin-left: 250px;
    margin-top: -95px;
    width: 300px;
}
.continent{
    width: 100px;
    margin-left: 250px;
    margin-top: -93px;
}
#send{
    background-color: #8d43e8;   
    margin-top: 30px;
    width: 100px;
    height: 40px;
    border-radius: 60px;
    border-width: 0;
    color: white;
}
#continent-opptions{
    height: 30px;
    width: 200px;
    border-radius: 60px;
}
input{
    height: 30px;
    width: 200px;
    border-radius: 60px;
    border-width: 1px;
    border-style: solid;

}
input:focus{
    border-style: solid;
    border-color: #3c1270;
    box-shadow: 0px 0px 15px 1px #c99dffee;
    outline:none;

}
#continent-opptions:focus{
    border-style: solid;
    border-color: #3c1270;
    box-shadow: 0px 0px 15px 1px #c99dffee;
    outline:none;

}
textarea:focus{
    border-style: solid;
    border-color: #3c1270;
    box-shadow: 0px 0px 15px 1px #c99dffee;
    outline:none;
}
textarea{
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
}

/*nav bar below*/
footer{
    background-color: #8827ff;
    width: 1263px;
    height: 300px;
    margin-left: -100px;
    position: relative;
    margin-top: -16px;
}
.ending{
    width:400px;
    position: absolute;
    margin-top: 70px;
    margin-left: 430px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    text-transform: uppercase;
}
.ending a{
    color: white;
}
.social-media{
    position: absolute;
    margin-top: 130px;
    width: 300px;
    height: 50px;
    margin-left: 490px;
    gap: 100px;
}


footer .foooter-text{
    position:absolute;
    margin-top: 250px;
    font-size: 15px;
    margin-left: 500px;
    color: white;
}